/*General page style*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header*/
header {
    background-color: #f59dcd;
    color: white;
    text-align: center;
    padding: 45px 20px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header p{
    margin-top: 12px;
    font-size: 14px;
}

/* Navigation */
nav {
    background-color: #172b4d;
    text-align: center;
    padding: 14px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    width: 70%;
    max-width: 850px;
    margin: 30px auto;
}

/* Sections */
section {
    background-color: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0  , 0, 0.08)
}

section h2 {
    color: #24578a;
    margin-top: 0;
}

/* Profile image */
figure {
    text-align: center;
    margin: 25px 0;
}

figure img  {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
}

figcaption {
    margin-top: 10px;
    font-weight: bold;
}

/* Paragraph */
section p {
    font-size: 14px;
    line-height: 1.7;
}

/* Project */
article p{
    padding: 15px;
    background-color: #da0b8a;
}

article h3 {
    color: #24578a;
}

/* Footer-Paragraph */
Footer {
    text-align: center;
}
